*{
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
html{
    position: relative;
}
#container{
    width: 100%;
}
.wrapper{
    width: 1100px;
    margin: 0 auto;
}
#header{
    width: 100%;
    height: 32px;
    background-color: #80c269;
    border-bottom: 1px #64b112;
}
.wraper{
    width: 864px;
    margin: 0 auto;
}
.toggle-btn{
  display: none;
}
#nav-list{
    float: left;
}
#nav-list li{
    float: left;
    height: 100%;
}
#nav-list li:hover{
    opacity:0.6;
    filter:alpha(opacity=40);
}
#nav-list li a{
    display: inline-block;
    padding: 0 15px;
    height: 32px;
    line-height: 32px;
    color: #fff;
    font-size: 13px;
}
#nav-list .select div{
    width: 5px;
    height: 3px;
    margin: auto;
    background: url('../img/spirit.png') -107px -9px no-repeat;
}
#nav-list li:before{
    width: 1px;
    height: 11px;
    display: block;
    content: '';
    float: left;
    background: #a6d369;
    position: relative;
    top: 11px;
}
#nav-list li:first-child:before{
    display: none;
}
.select{
      background: #ffffff;
  }
#nav-list .select:before{
    width: 1px;
    height: 11px;
    display: block;
    content: '';
    float: left;
    background: #ffffff;
    position: relative;
    top: 11px;
}
#nav-list .select a{
    color: #000;
    height: 29px;
}
#nav-menus{
    float: right;
}
#nav-menus li{
    float: left;
    height: 100%;
}
#nav-menus li a{
    display: inline-block;
    padding: 0 7px;
    height: 29px;
    line-height: 29px;
    color: #fff;
    font-size: 13px;
}
#nav-menus li:before{
    width: 3px;
    height: 3px;
    display: block;
    content: '';
    float: left;
    background: #a6d369;
    position: relative;
    top: 15px;
}
#nav-menus li:first-child:before{
    display: none;
}
#content-t{
    width: 100%;
    height: 230px;
    float: left;
    border-bottom: solid 1px #e9e6e9;
    background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#fff), to(#f5f4f5));/*¹È¸è*/
}
div .search{
    float: left;
    margin-left: 78px;
    margin-top: 30px;
    width: 368px;
/*    height: 174px;*/
    /*background: deepskyblue;*/
    position: relative;
}
#icon{
    width: 243px;
    height: 39px;
    float: left;
}
#radical{
    width: 125px;
    height: 39px;
    float: left;
    position: relative;
}
#radical a{
    font-size: 10px;
    position: absolute;
    right: 1px;
    bottom: 0;
    color: #4f900b;
}
#search-box{
    margin-top: 10px;
    margin-bottom: 9px;
    width: 360px;
    height: 32px;
    border: solid 5px #74bf1f;
    outline:medium;
    font-size: 18px;
    color: #333333;
    text-indent: 8px;
}
#icon1{
    width: 31px;
    height: 27px;
    background:url("../img/spirit.png") -141px -9px no-repeat;
    position: absolute;
    right: 8px;
    top: 56px;
    cursor: pointer;
}
.result{
    font-size: 10px;
    margin-bottom: 12px;
}
.search span{
    font-size: 14px;
    display: block;
}
.search span div{
    width: 10px;
    height: 10px;
    background: url('../img/spirit.png') -114px -40px no-repeat;
    display: inline-block;
}
label{
    cursor: pointer;
}
div .notes{
    float: right;
    width: 342px;
    height: 174px;
    margin-top: 30px;
    margin-right: 37px;
}
#tab{
    overflow: hidden;/*½â¾öËúÏÝÎÊÌâ*/
    border: solid 1px #d7d7d7;
    border-bottom: none;
}
#tab li{
    width: 169px;
    height: 31px;
    float: left;
    text-align: center;
    line-height: 31px;
    cursor: pointer;/*Êó±êÑùÊ½*/
    border-bottom: solid 1px #d7d7d7;
}
#tab li:first-child{
    border-right: solid 1px #d7d7d7;
}
#tab .selected{
    border-bottom: none;
}
#video-notes{
    height: 142px;
    border: solid 1px #d7d7d7;
    border-top: none;
}
#video-notes .note{
    display: none;
}
#video-notes .selected{
    display: block;
}
#video{
    width: 126px;
    height: 95px;
    float: left;
    margin-left: 16px;
    margin-top: 25px;
    background: url("../img/video.jpg");
}
#explain{
    width: 165px;
    /*height: 95px;*/
    margin-left: 21px;
    margin-top: 25px;
    float: left;
}
#spell{
    width: 165px;
    height: 33px;
    border-bottom: solid 1px #e9e9e9;
    color: #333333;
    font-size: 23px;
}
#description{
    width: 165px;
}
#description span{
    color: #a0a0a0;
    font-size: 9px;
}
#description a{
    color: #000000;
    font-size: 9px;
}
#content-b{
    width: 100%;
    float: left;
}
div .content{
    /*height: 1077px;*/
}
div .left-content{
    width: 467px;
    height: 1078px;
    float: left;
    margin-left: 30px;
    position: relative;
}
div .right-content{
    width: 321px;
    height: 10px;
    float: right;
    margin-right: 27px;
}
div .conversation{
    height: 213px;
    width: 100%;
    margin-top: 25px;
    position: relative;
}
#more{
    position: absolute;
    right: 9px;
    top: 0;
    font-size: 6px;
}
div .title{
    width: 100%;
    height: 33px;
    margin-top: 10px;
    border: solid 1px #d7d7d7;
    background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#ffffff), to(#f6f6f6));
}
.title span{
    height: 33px;
    line-height: 33px;
    color: #4f900b;
    font-size: 13px;
}
.title a{
    font-size: 11px;
    color: #4f900b;
}
div .chat{
    border: solid 1px #d7d7d7;
    border-top: none;
    width: 467px;
    float: left;
}
.chat ul{
    margin-top: 10px;
}
div .chat div{
    float: left;
}
.chat li{
    width: 467px;
    height: 38px;
}
.name{
    width: 43px;
    height: 27px;
    margin-left: 15px;
    float: left;
    font-size: 13px;
    color: #888888;
}
.speak{
    width: 400px;
    height: 27px;
    float: left;
    position: relative;
}
.speak a{
    font-size: 11px;
    color: #333333;
    position: absolute;
    top: 0;
    left: 0;
}
.speak .audio1{
    border: 0;
    margin-left: 5px;
    position: absolute;
    top: 0;
}
.speak span{
    font-size: 9px;
    color: #888888;
    position: absolute;
    left: 0;
    bottom: 0;
}
.speak .audio2{
    border: 0;
    margin-left: 10px;
    position: absolute;
    top: 2px;
}
div .question{
    width: 100%;
    /*height: 309px;*/
    background: #f8f8f8;
    border: solid 1px #d7d7d7;
    margin-top: 20px;
    position: relative;
    float: left;
    overflow: hidden;
}
div .question h5{
    margin-left: 12px;
    margin-top: 11px;
    float: left;
}
#mor{
    position: absolute;
    right: 9px;
    top: 14px;
    font-size: 6px;
}
.answer{
    width: 458px;
    /*height: 170px;*/
    background: #ffffff;
    float: left;
    margin-top: 12px;
    margin-left: 6px;
}
.info,.inf{
    height: 22px;
    width: 300px;
    margin-top: 11px;
    margin-left: 12px;
}
.info div{
    width: 21px;
    height: 21px;
    background: url(../img/spirit.png) -10px -9px no-repeat;
    float: left;
}
.info a,.inf a{
    color: #0089aa;
    font-size: 11px;
    float: left;
    display: block;
    height: 22px;
    line-height: 22px;
    padding: 0 10px 0 6px;
}
.info span,.inf span{
    color: #333333;
    font-size: 11px;
    float: left;
    display: block;
    width: 55px;
    height: 22px;
    line-height: 22px;
    text-align: right;
    border-left: solid 1px #d7d7d7;
    position: relative;
}
.info span div{
    width: 9px;
    height: 9px;
    background: url(../img/spirit.png) -73px -39px no-repeat;
    position: absolute;
    top: 6px;
    left: 10px;
}
.inf div{
    width: 21px;
    height: 21px;
    background: url(../img/spirit.png) -73px -9px no-repeat;
    float: left;
}
.inf span div{
    width: 9px;
    height: 9px;
    background: url(../img/spirit.png) -91px -38px no-repeat;
    position: absolute;
    top: 6px;
    left: 10px;
}
.que{
    width: 434px;
    /*height: 29px;*/
    border: solid 1px #8ed43e;
    margin-top: 11px;
    margin-left: 12px;
    position: relative;
}
.que a{
    display: block;
    height: 29px;
    line-height: 29px;
    color: #2c2c2c;
    font-size: 13px;
    text-indent: 12px;
}
.que div{
    position: absolute;
    right: 6px;
    top: 6px;
    width: 16px;
    height: 17px;
    background: url(../img/spirit.png) -10px -38px no-repeat;
}
.que .up{
    width: 11px;
    height: 6px;
    position: absolute;
    left: 25px;
    top: -6px;
    background: url(../img/spirit.png) -104px -19px no-repeat;
}
.ans{
    width: 434px;
    /*height: 48px;*/
    padding: 1px;
    border: solid 1px #d5d5d5;
    margin-top: 10px;
    margin-left: 12px;
    position: relative;
}
.ans .dis{
    display: block;
    width: 379px;
    /*height: 32px;*/
    line-height: 20px;
    color: #888888;
    font-size: 10px;
    margin: 6px 0 2px 12px;
    background: #ffffff;
}
#m{
    position: absolute;
    right: 53px;
    bottom: 5px;
    font-size: 6px;
    cursor: pointer;
}
.ans .a{
    position: absolute;
    right: 10px;
    top: 15px;
    height: 16px;
    width: 17px;
    background: url(../img/spirit.png) -40px -38px no-repeat;
}
.ans .r{
    width: 3px;
    height: 5px;
    position: absolute;
    right: 85px;
    bottom: 9px;
    background: url(../img/spirit.png) -120px -9px no-repeat;

}
.down{
    position: absolute;
    left: 25px;
    bottom: -6px;
    width: 11px;
    height: 6px;
    background: url(../img/spirit.png) -120px -19px no-repeat;
}
.bottom{
    width: 448px;
    height: 49px;
    border-bottom: dashed 1px #d2cfd2;
    float: left;
    margin: 16px 0 42px 11px;
}
.bottom ul{
    list-style: square;
}
.bottom li{
    width: 200px;
    height: 23px;
    font-size: 13px;
    float:left;
    margin-left: 20px;
}
.btn{
    width: 50px;
    height: 19px;
    border: solid 1px #cccccc;
    background: #ffffff;
    position: absolute;
    right: 10px;
    bottom: 9px;
    outline:medium;
}
.popu{
    width: 468px;
    margin-bottom: 58px;
    float: left;
    position: absolute;
    bottom: 0;
}
div .popu h5{
    margin-left: 12px;
    margin-top: 11px;
    float: left;
}
.popu-list{
    width: 468px;
    margin-top: 10px;
    float: left;
    border-top: solid 1px #d7d7d7;
    box-shadow: 0 2px 5px #f5f4f5;
}
.popu-list ul{
    margin-top: 15px;
    list-style: square;
 }
.popu-list ul li{
    width: 208px;
    float: left;
    height: 28px;
    font-size: 12px;
    color: #353535;
    margin-left: 26px;
    position: relative;
}
.popu-list ul li div{
    width: 21px;
    height: 21px;
    background: url(../img/spirit.png) -40px -9px no-repeat;
    position: absolute;
    top: -3px;
    left: 107px;
}
.popu-list ul li a{
    position: absolute;
    left: 132px;
    top: 0;
    color: #0089aa;
}
#mo{
    position: absolute;
    right: 9px;
    top: 14px;
    font-size: 6px;
}
.ad{
    width: 320px;
    margin-top: 46px;
    border: solid 1px #d7d7d7;
    background: #f2f2f2;
    position: relative;
    overflow: hidden;
}
.aadd{
    height: 13px;
    width: 50px;
    color: #ffffff;
    background: #5cbb06;
    text-align: center;
    -webkit-transform: rotate(-45deg);
    border: ridge 1px #5cbb06;
    font-size: 12px;
    position: absolute;
    left: -12px;
    top: 5px;
}
.proverb{
    width: 267px;
    /*height: 40px;*/
    margin-left: 30px;
    margin-top: 16px;
}
.proverb ul{
    margin-bottom: 12px;
}
.proverb li{
    font-size: 10px;
    margin-bottom: 8px;
    color: #000000;
}
.pic{
    width: 320px;
    height: 145px;
    border: solid 1px #d7d7d7;
    margin-top: 10px;
}
.user{
    width: 301px;
    height: 19px;
    margin-left: 11px;
    margin-top: 12px;
    font-size: 9px;
    border-bottom: dashed 1px #d7d7d7;
}
.picture{
    width: 313px;
    height: 76px;
    margin-left: 4px;
    margin-top: 19px;
}
.picture li{
    width: 78px;
    height: 76px;
    float: left;
    text-align: center;
}
.picture li div{
    width: 55px;
    height: 55px;
    border: solid 1px #d7d7d7;
    margin: auto;
}
.picture li div img{
    border: none;
    margin-top: 2px;
}
.picture li a{
    font-size: 9px;
    color: #0089aa;
    display: inline-block;
}
.new{
    width: 322px;
    /*height: 150px;*/
    margin-top: 22px;
}
.con{
    width: 100%;
    height: 21px;
    color: #000000;
    font-size: 9px;
    border-bottom: solid 1px #d7d7d7;
    text-indent: 13px;
    box-shadow: 0 2px 5px #f5f4f5;
}
.con-dic{
    width: 322px;
    margin-top: 18px;
}
.con-dic ul{
    list-style: square;
}
.con-dic ul li{
    width: 292px;
    height: 23px;
    float: left;
    font-size: 13px;
    color: #000000;
    margin-left: 32px;
    position: relative;
}
.con-dic ul li div{
    width: 11px;
    height: 11px;
    background: url("../img/spirit.png") -138px -40px no-repeat;
    position: absolute;
    right: 17px;
    top: 0;
}
.con-dic ul li .sele{
    background: url("../img/spirit.png") -156px -42px no-repeat;
}
.con-dic ul li a{
    color: #888888;
}
#footer{
    width: 100%;
    height: 35px;
    background: #f7f8f7;
    border-top: solid 1px #d7d7d7;
    position: absolute;
    left: 0;
    bottom: 0px;
}
.footer-list{
    float: left;
    margin-left: 145px;
}
.footer-list li{
    float: left;
    height: 100%;
}

.footer-list li a{
    display: inline-block;
    padding: 0 15px;
    height: 32px;
    line-height: 32px;
    color: #888888;
    font-size: 13px;
}
.footer-list li:before{
    width: 1px;
    height: 11px;
    display: block;
    content: '';
    float: left;
    background: #e9e6e9;
    position: relative;
    top: 11px;
}
.footer-list li:first-child:before{
    display: none;
}
.lang{
    float: left;
}
.lang a{
    font-size: 13px;
    color: #004fba;
    height: 32px;
    line-height: 32px;
}
.icp{
    font-size: 13px;
    float: right;
    color: #888888;
    width: 300px;
}
.icp a{
    font-size: 13px;
    color: #004fba;
    height: 32px;
    line-height: 32px;
}
@media screen and (max-width: 768px){
    .wrapper{
        width: 100%;
    }
    .wraper{
        width: 100%;
    }
    #nav{
        width: 100%;
    }
    #nav-list{
        float: none;
        display: none;
    }
    #nav-list li{
        float: none;
    }
    .toggle-btn{
      display: inline-block;
      text-decoration: none;
      color: #fff;
      padding: 5px 7px;
      position: absolute;
      left: 0;
      top: 0;
    }

    #nav .close{
      display: none;
    }

    #nav:target .close{
      display: inline-block;
    }

    #nav:target #nav-list{
      display: block;
      position: absolute;
      top: 0;
      padding-top: 32px;
      width: 100%;
    }
    #nav:target ul{
      background: #000;
    }
    #nav:target li, #nav:target li a{
      display: block;
      text-align: left;
    }
    #nav:target li:hover{
      background: #3b3b3b;
    }
    #nav:target .select{
      background: #272727;
    }
    
}