*{
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
#container{
    width: 100%;
}
.wrapper{
    width: 1100px;
    margin: 0 auto;
}
#nav{
    width: 100%;
    height: 32px;
    background-color: #80c269;
    border-bottom: 1px #64b112;
}
.wraper{
    width: 864px;
    margin: 0 auto;
}
#adv{
    height: 32px;
}
#nav-list{
    float: left;
}
#nav-list li{
    float: left;
    height: 100%;
}
#nav-list li:hover{
    background: #a6d369;
}
#nav-list li a{
    display: inline-block;
    padding: 0 15px;
    height: 32px;
    line-height: 32px;
    color: #fff;
    font-size: 13px;
}
#nav-list li:before{
    width: 1px;
    height: 11px;
    display: block;
    content: '';
    float: left;
    background: #a6d369;
    position: relative;
    top: 11px;
}
#nav-list li:first-child:before{
    display: none;
}
.select{
      background: #ffffff;
  }
.select:before{
    width: 1px;
    height: 11px;
    display: block;
    content: '';
    float: left;
    background: #a6d369;
    position: relative;
    top: 11px;
}
#nav-list .select a{
    color: #000;
    height: 29px;
}
.select:after{
    width: 3px;
    height: 3px;
    background: #74bf1f;
    content: '';
    margin: 0 auto;
    display: block;
}
#nav-list .select:before{
    display: none;
}
#nav-menus{
    float: right;
}
#nav-menus li{
    float: left;
    height: 100%;
}
#nav-menus li a{
    display: inline-block;
    padding: 0 7px;
    height: 29px;
    line-height: 29px;
    color: #fff;
    font-size: 13px;
}
#nav-menus li:before{
    width: 3px;
    height: 3px;
    display: block;
    content: '';
    float: left;
    background: #a6d369;
    position: relative;
    top: 15px;
}
#nav-menus li:first-child:before{
    display: none;
}
#content-t{
    width: 100%;
    height: 230px;
    float: left;
    border-bottom: solid 1px #e9e6e9;
    background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#fff), to(#f5f4f5));/*谷歌*/
}
div .search{
    float: left;
    margin-left: 78px;
    margin-top: 30px;
    width: 368px;
    height: 174px;
    /*background: deepskyblue;*/
    position: relative;
}
#icon{
    width: 243px;
    height: 39px;
    float: left;
}
#radical{
    width: 125px;
    height: 39px;
    float: left;
    position: relative;
}
#radical a{
    font-size: 10px;
    position: absolute;
    right: 1px;
    bottom: 0;
    color: #4f900b;
}
#search-box{
    margin-top: 10px;
    margin-bottom: 9px;
    width: 360px;
    height: 32px;
    border: solid 5px #74bf1f;
    outline:medium;
    font-size: 18px;
    color: #333333;
    text-indent: 8px;
}
#icon1{
    width: 31px;
    height: 27px;
    background:url("../img/search.jpg");
    position: absolute;
    right: 8px;
    top: 56px;
    cursor: pointer;
}
.result{
    font-size: 10px;
    margin-bottom: 12px;
}
label{
    cursor: pointer;
}
div .notes{
    float: right;
    width: 342px;
    height: 174px;
    margin-top: 30px;
    margin-right: 37px;
}
#tab{
    overflow: hidden;/*解决塌陷问题*/
    border: solid 1px #d7d7d7;
    border-bottom: none;
}
#tab li{
    width: 169px;
    height: 31px;
    float: left;
    text-align: center;
    line-height: 31px;
    cursor: pointer;/*鼠标样式*/
    border-bottom: solid 1px #d7d7d7;
}
#tab li:first-child{
    border-right: solid 1px #d7d7d7;
}
#tab .selected{
    border-bottom: none;
}
#video-notes{
    height: 142px;
    border: solid 1px #d7d7d7;
    border-top: none;
}
#video-notes .note{
    display: none;
}
#video-notes .selected{
    display: block;
}
#video{
    width: 126px;
    height: 95px;
    float: left;
    margin-left: 16px;
    margin-top: 25px;
    background: url("../img/video.jpg");
}
#explain{
    width: 165px;
    /*height: 95px;*/
    margin-left: 21px;
    margin-top: 25px;
    float: left;
}
#spell{
    width: 165px;
    height: 33px;
    border-bottom: solid 1px #e9e9e9;
    color: #333333;
    font-size: 23px;
}
#description{
    width: 165px;
}
#description span{
    color: #a0a0a0;
    font-size: 9px;
}
#description a{
    color: #000000;
    font-size: 9px;
}
#content-b{
    width: 100%;
    height: 930px;
    float: left;
}
div .content{
    height: 930px;
}
div .left-content{
    width: 467px;
    height: 930px;
    float: left;
    margin-left: 30px;
}
div .right-content{
    width: 321px;
    height: 930px;
    background: deepskyblue;
    float: right;
    margin-right: 27px;
}
div .conversation{
    height: 213px;
    width: 100%;
    margin-top: 25px;
    /*border: solid 1px #d7d7d7;*/
    position: relative;
}
#more{
    position: absolute;
    right: 9px;
    top: 0;
    font-size: 6px;
}
div .title{
    width: 100%;
    height: 33px;
    margin-top: 10px;
    border: solid 1px #d7d7d7;
    background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#ffffff), to(#f6f6f6));
}
.title span{
    height: 33px;
    line-height: 33px;
    color: #4f900b;
    font-size: 13px;
}
.title a{
    font-size: 11px;
    color: #4f900b;
}
div .chat{
    border: solid 1px #d7d7d7;
    border-top: none;
    width: 467px;
    height: 160px;
}
div .chat div{
    float: left;
}
.chat li{
    width: 467px;
}
.name{
    width: 43px;
    height: 27px;
    margin-left: 15px;
    margin-top: 10px;
    float: left;
    font-size: 13px;
    color: #888888;
}
.speak{
    width: 400px;
    height: 27px;
    float: left;
    margin-top: 10px;
    position: relative;
}
.speak a{
    font-size: 11px;
    color: #333333;
    position: absolute;
    top: 0;
    left: 0;
}
.speak span{
    font-size: 9px;
    color: #888888;
    position: absolute;
    left: 0;
    bottom: 0;
}
div .question{
    width: 100%;
    height: 307px;
    background: #f8f8f8;
    border: solid 1px #d7d7d7;
    margin-top: 20px;
    position: relative;
    float: left;
}
div .question h5{
    margin-left: 12px;
    margin-top: 11px;
    float: left;
}
#mor{
    position: absolute;
    right: 9px;
    top: 14px;
    font-size: 6px;
}
.answer{
    width: 458px;
    height: 170px;
    background: #ffffff;
    float: left;
    margin-top: 12px;
    margin-left: 6px;
}
.info{
    height: 22px;
    width: 300px;
    margin-top: 11px;
    margin-left: 12px;
}
.answer img{
    border: solid 1px #d7d7d7;
}